* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  background-color: rgb(255, 251, 217);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.dropdown {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.filter__genre,
.sort__date {
  border: 1px solid grey;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.filter button {
  border: 1px solid grey;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.search > input {
  width: 230px;
  border: 1px solid grey;
}

#container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  min-height: 450px;
  border-radius: 15px;
  border: 1px solid grey;
  background-color: white;
}

.overlay {
  display: none;
}

.card__info {
  justify-content: space-between;
  margin: 10px;
}

.card__info button {
  float: right;
}

.card__info--deets {
  display: inline-flex;
  gap: 15px;
}

.card__info h3 {
  font-size: 20px;
  font-weight: bold;
}

.card__info p {
  font-size: 18px;
}

.card__btn {
  background-color: transparent;
  cursor: pointer;
}

.card__img {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 15px;
  object-fit: cover;
}

.filter__fave--btn,
.filter__all--btn,
.filter__twentyFirstCentury--btn {
  cursor: pointer;
}