* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.sort {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search > input {
  width: 250px;
  border: 1px solid grey;
}

#container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 450px;
  border-radius: 15px;
  border: 1px solid grey;
}

.card__info {
  display: inline-flex;
  justify-content: space-between;
  margin: 10px;
}

.card__info h3 {
  font-size: 20px;
  font-weight: bold;
}

.card__info p {
  font-size: 18px;
}

.card__btn {
  background-color: transparent;
  cursor: pointer;
}


.card__img {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 15px;
  object-fit: cover;
}

.overlay {
  display: none;
}

.filter__fave--btn,
.filter__all--btn,
.filter__twentyFirstCentury--btn {
  cursor: pointer;
}